.user {
  padding: 100px;
  margin: auto;
  max-width: 1040px;
  box-sizing: border-box;
}

.user__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(57, 57, 57);
  padding: 30px;
  margin: auto;
  max-width: 400px;
}

.user__title {
  margin: 0 0 40px;
}

.user__avatar {
  margin-bottom: 20px;
}

.user__text {
  margin: 5px 0;
  font-size: 15px;
  line-height: 1.3; 
}